.hero {

    color: black;
    height: 500px;
    background-color: green;
    /* background-image: url("./banner-1976082.jpg");
    background-size: cover;
    background-position: 100%; */
}

.hero_title {
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}

.hero_description {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 900;
    text-align:start;
    padding: 50px;
    text-align: center;
  
}

.search_button{
    color: rgb(255, 255, 255) !important;
    font-weight: 600 !important;
    font-family: 'Times New Roman', Times, serif !important;
    margin: auto;
    width: 20%;
    background-color: #087AEA !important;
    
}
.search_b{
    margin:auto;
    padding: 20px;
    padding-left: 50px;
    margin-top: -50px;
}

.hero{
    background-image: url('./4.jpg');
    background-size:1100px;
    background-position: 100%;
    filter: brightness(115%);
}
